<form [formGroup]="form">
  <app-ui-input-text
    [group]="form"
    control="name"
    label="Nombre"
  ></app-ui-input-text>

  <app-ui-input-text
    [group]="form"
    control="url"
    label="Link"
  ></app-ui-input-text>

  <app-ui-dropdown
    [group]="form"
    control="collab"
    label="Colaboradores"
    [options]="(persons | async)!"
    optionLabel="name"
  ></app-ui-dropdown>

  <app-ui-multiselect
    [group]="form"
    control="techs"
    label="Tecnologías usadas"
    selectedItemsLabel="{0} tecnologías seleccionadas"
    [withGrouping]="true"
    [options]="(techs | async)!"
  ></app-ui-multiselect>

  <app-ui-dropdown
    [group]="form"
    control="place"
    label="Lugar"
    [options]="(places | async)!"
  ></app-ui-dropdown>
</form>

<app-ui-form-buttons
  [cargando]="cargando"
  (cancelarClick)="cancelar()"
  (guardarClick)="guardar()"
></app-ui-form-buttons>

<!-- <pre>{{ form.getRawValue() | json }}</pre> -->
