<div
  class="mb-2 flex flex-wrap items-center justify-center gap-4 lg:justify-between"
>
  <p-tabMenu
    [model]="menuItems"
    class="max-w-full"
    styleClass="max-w-min"
  ></p-tabMenu>

  <div class="flex items-center gap-2">
    <div class="flex items-end gap-4 rounded-md bg-blue-800 p-2">
      <p-inputSwitch
        (onChange)="pro = !pro"
        pTooltip="Modo"
        tooltipPosition="bottom"
      ></p-inputSwitch>

      <i *ngIf="pro" class="bi bi-emoji-sunglasses-fill text-2xl"></i>
      <i *ngIf="!pro" class="bi bi-emoji-neutral-fill text-2xl"></i>
    </div>

    <p-button
      *ngIf="!pro && !authService.getToken()"
      icon="pi pi-sign-in"
      styleClass="p-button-rounded p-button-success"
      pTooltip="Iniciar Sesión"
      tooltipPosition="bottom"
      (onClick)="signin()"
    ></p-button>
    <p-button
      *ngIf="!pro && authService.getToken()"
      icon="pi pi-sign-out"
      styleClass="p-button-rounded p-button-danger"
      pTooltip="Cerrar Sesión"
      tooltipPosition="bottom"
      (onClick)="signout()"
    ></p-button>

    <div
      class="mr-3 h-16 w-80 bg-yo-programo bg-contain bg-center bg-no-repeat"
    ></div>
  </div>
</div>

<router-outlet></router-outlet>

<p-button
  *ngIf="pro"
  icon="bi bi-terminal-fill"
  (onClick)="openTerminal()"
  styleClass="p-button-rounded p-button-primary p-button-lg fixed right-5 bottom-5 animate-bounce"
></p-button>

<p-speedDial
  *ngIf="!pro && authService.getToken()"
  showIcon="pi pi-pencil"
  [rotateAnimation]="false"
  direction="up"
  buttonClassName="p-button-primary w-8 rounded-full"
  [model]="dialItems"
></p-speedDial>

<p-toast [breakpoints]="{ '500px': { width: '90%' } }"></p-toast>
