.dark {
  body {
    @apply bg-gradient-to-br from-blue-800 to-gray-900 text-slate-200;
  }

  .p-dialog .p-dialog-content,
  .p-dialog .p-dialog-header,
  .p-dialog .p-dialog-footer,
  .p-dialog .p-dialog-header .p-dialog-header-icon {
    @apply bg-slate-800 text-slate-200;
  }

  .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
    @apply bg-blue-300;
  }

  .p-tabmenu .p-tabmenu-nav {
    @apply gap-2 border-transparent bg-transparent;
  }
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    @apply border-yellow-500 bg-transparent text-slate-200;
  }
  .p-tabmenu
    .p-tabmenu-nav
    .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover
    .p-menuitem-link {
    @apply border-yellow-500 bg-blue-800 text-slate-200;
  }
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    @apply border-slate-500 bg-blue-900 text-slate-200;
  }
  .p-tabmenu
    .p-tabmenu-nav
    .p-tabmenuitem
    .p-menuitem-link:not(.p-disabled):focus {
    box-shadow: inset 0 0 0 1px #ffffff;
  }

  .p-float-label label {
    @apply text-slate-200;
  }

  .p-inputtext {
    @apply bg-slate-600 text-slate-200;
  }

  .p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
    @apply text-slate-200;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item,
  .p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message,
  .p-dropdown-panel .p-dropdown-header,
  .p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon,
  .p-dropdown .p-dropdown-trigger {
    @apply bg-slate-600 text-slate-200;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover{
    @apply bg-slate-700 text-slate-200;
  }

  .p-fileupload .p-fileupload-buttonbar,
  .p-fileupload .p-fileupload-content {
    @apply bg-slate-600 text-slate-200;
  }

  .p-datepicker,
  .p-datepicker .p-datepicker-header,
  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month
  {
      @apply bg-slate-700 text-slate-200
  }

  .p-datepicker:not(.p-datepicker-inline),
  .p-datepicker .p-datepicker-header .p-datepicker-prev,
  .p-datepicker .p-datepicker-header .p-datepicker-next,
  .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover,
  .p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):not(.p-highlight):hover,
  .p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):not(.p-highlight):hover
  {
      @apply bg-slate-600 text-slate-200
  }

  .p-datepicker table td.p-datepicker-today > span.p-highlight,
  .p-datepicker table td > span.p-highlight,
  .p-datepicker table td.p-datepicker-today > span,
  .p-datepicker .p-yearpicker .p-yearpicker-year.p-highlight,
  .p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled).p-highlight:focus
  {
      @apply bg-slate-700 text-slate-200
  }


}
