<form class="grid" [formGroup]="form">

  <app-ui-input-text
    [group]="form"
    control="name"
    label="Nombre"
  ></app-ui-input-text>

  <app-ui-input-text
    [group]="form"
    control="title"
    label="Título"
  ></app-ui-input-text>

  <app-ui-dropdown
    [group]="form"
    control="actualWork"
    label="Trabajo Actual"
    [options]="places"
    optionLabel="name"
  ></app-ui-dropdown>

  <app-ui-dropdown
    [group]="form"
    control="actualCareer"
    label="Carrera Actual"
    [options]="places"
    optionLabel="name"
  ></app-ui-dropdown>

  <div class="mt-4 flex flex-col items-center">
    <p class="">Foto de Perfil Actual</p>
    <p-image
      [src]="form.controls['imageUrl'].value"
      [preview]="true"
      appendTo="body"
      styleClass="rounded-full aspect-square max-w-xs overflow-hidden"
    ></p-image>
  </div>

  <app-ui-file-upload
    class="mt-4"
    label="Subir Foto de Perfil"
  ></app-ui-file-upload>

  <app-ui-form-buttons
    [cargando]="cargando"
    (cancelarClick)="cancelar()"
    (guardarClick)="guardar()"
  ></app-ui-form-buttons>

  <pre>{{ form.getRawValue() | json }}</pre>
</form>
