<div class="flex items-center dark:text-slate-200">
  <div
    class="m-2 h-72 w-1/2 translate-y-5 rounded-3xl bg-yellow-600 transition-all duration-700 sm:m-6 md:m-0 md:w-1/5 md:translate-y-0 md:rounded-none"
  ></div>
  <div
    class="m-2 h-72 w-1/2 rounded-md bg-slate-800 pl-32 transition-all duration-700 sm:m-6 md:m-0 md:w-4/5 md:rounded-none"
  >
    <div
      class="absolute left-0 flex w-full translate-y-80 justify-center transition-all duration-700 md:static md:h-full md:translate-y-0 md:items-center md:justify-start"
    >
      <p class="text-center text-4xl">
        Hola, soy
        <span
          class="font-bold transition-all duration-700 hover:cursor-pointer hover:text-5xl"
          >Gonzalo Oropeza</span
        >
      </p>
    </div>
  </div>
  <div
    class="absolute flex w-full justify-center transition-all duration-700 md:w-2/5"
  >
    <div
      class="aspect-square w-56 rounded-full bg-mi-foto bg-cover bg-center bg-no-repeat"
    ></div>
  </div>
</div>
