/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/tailwind-light/theme.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;