<div
  class="absolute left-0 flex w-full translate-y-80 flex-col items-center gap-3 rounded-2xl md:rounded-none bg-sky-600 transition-all duration-700 dark:bg-slate-900 md:static md:h-full md:translate-y-0 md:justify-center"
>
  <h2 class="text-center text-3xl font-bold">Tecnologías usadas en mi portfolio</h2>

  <p-tabMenu
    #tabMenu
    [model]="tabs"
    [activeItem]="tabs[0]"
  ></p-tabMenu>

  <div [ngSwitch]="tabMenu.activeItem.label" class="max-w-full">
    <app-tech-list
      *ngSwitchCase="'FrontEnd'"
      [title]="'FrontEnd'"
      [techs]="(frontTechs$ | async)!"
    ></app-tech-list>
    <app-tech-list
      *ngSwitchCase="'BackEnd'"
      [title]="'BackEnd'"
      [techs]="(backTechs$ | async)!"
    ></app-tech-list>
  </div>

</div>
