<div
  class="absolute left-0 flex w-full translate-y-80 flex-col items-center gap-3 rounded-2xl bg-sky-600 transition-all duration-700 dark:bg-slate-900 md:static md:h-full md:translate-y-0 md:justify-center md:rounded-none"
>
  <div class="mt-2 flex items-center gap-3">
    <h2 class="text-center text-3xl font-bold">
      Tecnologías usadas en mi portfolio
    </h2>
    <p-button
      icon="pi pi-pencil"
      styleClass="p-button-success p-button-rounded"
      (onClick)="editTechsClick()"
    ></p-button>
  </div>

  <div class="mt-2 flex items-center gap-3 max-w-full">
    <p-tabMenu
      #tabMenu
      [model]="techTypesToMenuItem((techTypes$ | async)!)"
      [activeItem]="firstTime ? techTypesToMenuItem((techTypes$ | async)!)[0] : tabMenu.activeItem"
      (activeItemChange)="loadTechs($event)"
      class="max-w-full overflow-x-auto"
      styleClass="max-w-min"
    ></p-tabMenu>
    <p-button
      icon="pi pi-pencil"
      styleClass="p-button-success p-button-rounded"
      (onClick)="editTypesClick()"
    ></p-button>
  </div>

  <div *ngIf="tabMenu.model.length > 0" class="max-w-full">
    <app-tech-list
      [title]="tabMenu.activeItem ? tabMenu.activeItem.label! : ''"
      [techs]="(techs$ | async)!"
    ></app-tech-list>
  </div>
</div>

<app-tech-crud
  *ngIf="(techCrudModalVisible$ | async)!.visible"
  [modalVisible]="(techCrudModalVisible$ | async)!.visible"
></app-tech-crud>