<div
  class="absolute left-0 flex w-full translate-y-80 flex-col items-center gap-3 rounded-2xl bg-sky-600 transition-all duration-700 dark:bg-slate-900 md:static md:h-full md:translate-y-0 md:justify-center md:rounded-none"
>
  <div class="mt-2 flex items-center gap-3">
    <h2 class="text-center text-3xl font-bold">
      Tecnologías usadas en mi portfolio
    </h2>
  </div>

  <div class="mt-2 flex max-w-full items-center gap-3">
    <div
      *ngIf="
        techTypesToMenuItem((techTypes$ | async)!.data).length === 0 &&
        !(techsLoading$ | async)!
      "
      class="text-xl font-bold"
    >
      No hay categorías cargadas.
    </div>
    <p-tabMenu
      #tabMenu
      [model]="techTypesToMenuItem((techTypes$ | async)!.data)"
      [activeItem]="
        firstTime
          ? techTypesToMenuItem((techTypes$ | async)!.data)[0]
          : tabMenu.activeItem
      "
      (activeItemChange)="loadTechs($event)"
      class="max-w-full overflow-x-auto"
      styleClass="max-w-min"
    ></p-tabMenu>
  </div>

  <div class="flex flex-col items-center" *ngIf="(techsLoading$ | async)!">
    <p-skeleton width="20rem" height="2rem"></p-skeleton>
    <div class="flex gap-3 overflow-x-auto">
      <div
        class="my-2 flex flex-col items-center gap-3"
        *ngFor="let dummy of [].constructor(3)"
      >
        <p-skeleton
          size="12rem"
          borderRadius="16px"
          styleClass="bg-slate-600"
        ></p-skeleton>
        <p-skeleton width="10rem" styleClass="bg-slate-600"></p-skeleton>
      </div>
    </div>
  </div>

  <div *ngIf="tabMenu.model.length > 0" class="max-w-full">
    <app-tech-list
      [title]="tabMenu.activeItem ? tabMenu.activeItem.label! : ''"
    ></app-tech-list>
  </div>
</div>
