:host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight{
    @apply dark:bg-slate-500 dark:text-slate-200
}

:host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item{
    @apply dark:bg-slate-600 dark:text-slate-200
}

:host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover{
    @apply dark:bg-slate-600 dark:text-slate-200
}